<div class = "container" >
<h1>Entries#index</h1>
<p>Find me in app/views/entries/index.html.erb</p>
<table class= "table table-striped">
	<thead>
		<tr>
			<th>Night #</th>
			<th>Bedtime</th>
			<th>Asleep</th>
			<th>Awake</th>
			<th>Wake Up</th>
		</tr>
	</thead>
</table>
</div>
