<h1>Babies#show</h1>
<p>Find me in app/views/babies/show.html.erb</p>

<% @babies.each do |baby| %>
<%= image_tag baby.avatar.url(:medium) %>
I'm <%= baby.name %> and I'm <%= baby.age %> months old!
<%= baby.entries %>
<% end %>



