<p>Parents#index</p>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Name #</th>
			<th>Email</th>
			<th>Baby Name</th>
		</tr>
	</thead>
	<% @parents.babies.each do |parent| %>
		<tr>
			<td><%= parent.name %></td>
			<td><%= parent.email %></td>
			<td><%= parent.baby.name %></td>
	 	</tr>
	<% end %> 			  
</table>
